<app-header [gameStep]="gameStep"/>
<main>
  <div class="container">
    <section class="players">
      <h2 class="player-title">{{instruction}}</h2>
      <div class="player-grid">
        <button class="player" *ngFor="let player of players"
          (click)="selectPlayer(player)" [disabled]="player.isDead">
          <img src="{{ player.image }}" alt="{{ player.name }}" class="player-img">
          <div *ngIf="gameStep !== GameStep.voyante || player.isDead" class="overlay" [class.dead]="player.isDead">
            {{ player.isDead ? player.power : 'Voter' }}</div>
            <div *ngIf="gameStep === GameStep.voyante && !player.isDead" class="overlay voyante" [class.dead]="player.isDead">
              Voir</div>
          <p class="player-name">{{ capitalizeFirstLetter(player.name) }}</p>
          <p *ngIf="player.name === players[0].name">(vous)</p>
          <p *ngIf="playerPower === Power.Loup && player.power === Power.Loup && player.name !== players[0].name">(loup-garou)</p>
        </button>
      </div>
    </section>

    <section class="conversation">
      <div class="player-data">
        <span class="player-role-label">Ton rôle : </span>&nbsp;
        <span class="player-role-text">{{playerPower}}</span>
      </div>
      <div class="messages" #scrollContainer [style.max-height.px]="maxHeight">
        <div class="message" *ngFor="let message of messages">
          <hr/>
          <p [class.mj] = "message.author === 'MJ'">
            <strong *ngIf="message.author !== 'MJ'">{{message.author}} : </strong>
            {{message.content}}
          </p>
        </div>
      </div>
    </section>
  </div>
  <div *ngIf="gameStatus !== GameStatusEnum.running" class="modal">
    <div class="modal-content">
      <h2>Game Over</h2>
      <p>Le jeu est terminé.</p>
      <p>{{getEndMessage()}}</p>
      <button (click)="initializeGame()">Rejouer</button>
    </div>
  </div>
  <div *ngIf="shouldChoosePower === true" class="modal">
    <div class="modal-content">
      <h2>Vous incarnez {{capitalizeFirstLetter(playerName)}}. Choisissez votre rôle !</h2>
      <div class="role-choice">
        <button class="player" (click)="choosePower(Power.Loup)">
          <img src="assets/characters/werewolf.png" alt="Loup-garou" class="player-img">
          <p class="player-name">Loup-garou</p>
        </button>
        <button class="player" (click)="choosePower(Power.Simple)">
          <img src="assets/characters/villager.png" alt="Villageois" class="player-img">
          <p class="player-name">Villageois</p>
        </button>
        <button class="player" (click)="choosePower(Power.Voyante)">
          <img src="assets/characters/crystalball.png" alt="Voyante" class="player-img">
          <p class="player-name">Voyante</p>
        </button>
        <button class="player" (click)="choosePower(Power.Cupidon)">
          <img src="assets/characters/cupid.png" alt="Cupidon" class="player-img">
          <p class="player-name">Cupidon</p>
        </button>
      </div>
    </div>
  </div>
</main>
