<app-header/>
<main>
  <div class="container">
    <section class="players">
      <h2 class="player-title">{{instruction}}</h2>
      <div class="player-grid">
        <button class="player" *ngFor="let player of players" (click)="selectPlayer(player)">
          <img src="{{ player.image }}" alt="{{ player.name }}" class="player-img">
          <div class="overlay" [class.dead]="player.isDead">{{ player.isDead ? player.power : 'Tuer' }}</div>
          <p>{{ player.name }}</p>
        </button>
      </div>
    </section>

    <section class="conversation">
      <div class="messages">
        <div class="message" *ngFor="let message of messages">{{ message }}</div>
      </div>
      <input (keyup.enter)="sendMessage()" type="text" placeholder="Type your message..." [(ngModel)]="newMessage">
      <button (click)="sendMessage()">Send</button>
    </section>
  </div>
  <div *ngIf="gameStatus !== GameStatusEnum.running" class="modal">
    <div class="modal-content">
      <h2>Game Over</h2>
      <p>Le jeu est terminé.</p>
      <p *ngIf="gameStatus === GameStatusEnum.werewolfesWon">Les loups-garous ont gagné ! Bravo !</p>
      <p *ngIf="gameStatus === GameStatusEnum.villagersWon">Les villageois ont gagné ! Bravo !</p>
      <button (click)="initializeGame()">Rejouer</button>
    </div>
  </div>
  <div *ngIf="shouldChoosePower === true" class="modal">
    <div class="modal-content">
      <h2>Vous incarnez {{playerName}}. Choisissez votre rôle !</h2>
      <button (click)="choosePower(Power.Loup)">Loup-garou</button>
      <button (click)="choosePower(Power.Simple)">Simple villageois</button>
      <button disabled>Voyante (bientôt disponible)</button>
    </div>
  </div>
</main>
<footer>
  <p>&copy; 2024 Werewolf Game</p>
</footer>
