@font-face {
  font-family: 'Bungee Spice';
  src: url('assets/fonts/BungeeSpice-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RubikScribble';
  src: url('assets/fonts/RubikScribble-Regular.ttf');
}

body {
  margin: 0;
}
