header {
  background-color: #333;
  color: #fff;
  padding: 1rem;
  text-align: center;
  display: flex;
  justify-content: space-around;
  .dayNightCard{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    img{
      width: 100px;
      height: 100px;
    }
    p{
      font-family: 'Rowdies', sans-serif;
      font-variant: small-caps;
      font-size: 40px;
    }
  }
}

h1 {
  font-family: 'RubikScribble', sans-serif;
  font-size: 4rem;
  margin: 2rem 0;
}

